.projs{
    margin-left: 250px;
    position: relative;
    h2{
        @include title;
        color:  #1F1E31;
    }
    p{
        @include paragraphe;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    
.projects{

    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    .projet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px auto;
        width: 300px;
        height: 400px;
        background: linear-gradient(to bottom, #c1d1d4, #ffffff);
        opacity: 0;
        transform: translateY(-150px);
        transition: 1s ease-in;
       
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
        transition: transform 0.3s ease-in-out;
        
        &:hover{
            transform: scale(1.05);
            cursor: pointer;

            p{
                opacity: 1;
            }
        }
    }
    
    .projet img{
        width: 100%;
        height: 200px;
        
    }
    
    p{
        @include paragraphe;
        font-size:0.9rem;
        opacity: 1;
    }
   .add{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
   }
   .add span{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border-radius: 5px;
    color: #1F1E31;
    font-family: $font2;
    background: linear-gradient(to bottom, #c1d1d4, #ffffff);
    color: black;

   }
    a{
        @include button;
        margin: 0 auto;
        padding: 5px;
        font-size: 0.8rem
    
    }
    .projet h3{
       @include lil-title;
       text-align: center;
       margin-top: 0px;
       margin-left: 0px;
       font-size: 1rem;
       
    }
}
    @media screen and (max-width: 900px) {
        margin-left: 0px;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        
        .projects{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .projet{
            width: 90%;
            height: auto;
            margin: 20px auto;
        }
        
        .projet img{
            height: 200px;
        }
        
        .projet h3{
            font-size: 1.2rem;
        }
    }
}