html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}
* li {
  list-style: none;
}
* a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "poppins";
  src: url(../font/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: "mont";
  src: url(../font/Montserrat-Medium.ttf);
}
body {
  overflow-x: hidden;
  background: rgba(128, 128, 128, 0.105);
}

p {
  font-family: mont, serif;
  line-height: 20px;
  padding: 10px;
}

li {
  font-family: poppins, serif;
}

header {
  width: 250px;
  position: fixed;
  min-height: 100vh;
  background-image: linear-gradient(#434343 0%, rgba(0, 0, 0, 0.871) 100%);
}
@media screen and (max-width: 900px) {
  header {
    background: none;
    width: 0;
    height: 0;
  }
}
header .profil img {
  border-radius: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}
@media screen and (max-width: 900px) {
  header .profil img {
    display: none;
  }
}
header h2 {
  text-align: center;
  margin-top: 5px;
  font-size: 1.1rem;
  font-family: poppins, serif;
  color: rgb(236, 222, 222);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
  margin-bottom: 0px;
}
@media screen and (max-width: 900px) {
  header h2 {
    display: none;
  }
}
header .social-media {
  height: 35px;
}
header .social-media ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 1rem;
  color: rgb(236, 222, 222);
}
@media screen and (max-width: 900px) {
  header .social-media ul {
    display: none;
  }
}
header .social-media ul li {
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(236, 222, 222);
  color: #434343;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
}
header .social-media ul li:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: rgb(236, 222, 222);
  background-color: #434343;
}
header .social-media ul li a {
  text-decoration: none;
  color: inherit;
}
header .social-media ul li a:hover {
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  header .social-media ul li {
    display: none;
  }
}
header nav ul {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 10px;
  font-size: 1.3rem;
  color: rgb(236, 222, 222);
  gap: 5px;
}
header nav ul li {
  padding: 8px;
  font-family: poppins, serif;
  font-size: 1.3rem;
  transition: 5s;
}
header nav ul li:hover {
  cursor: pointer;
}
header nav ul li:hover {
  color: #434343;
  text-decoration: none;
}
header nav ul li:hover {
  color: #434343;
  text-decoration: none;
}
header nav ul li a {
  text-decoration: none;
  color: inherit;
}
header nav ul li a:hover {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}
header nav ul li a:hover:active {
  text-decoration: underline;
  color: #434343;
}
header nav ul li a:hover:hover {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 900px) {
  header nav ul {
    display: none;
  }
}
header .footer {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  color: rgb(7, 7, 7);
  background: linear-gradient(to bottom, #c1d1d4, #ffffff);
}
@media screen and (max-width: 900px) {
  header .footer {
    display: none;
  }
}

.about {
  margin-left: 250px;
  position: relative;
}
.about h2 {
  font-size: 1.8rem;
  margin-top: 15px;
  font-family: poppins, serif;
  text-transform: uppercase;
  color: #1F1E31;
  margin-left: 10px;
  color: #1F1E31;
}
.about h2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: rgb(127, 127, 157);
  transform: translateY(40px);
}
@media screen and (max-width: 900px) {
  .about h2 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about h2::before {
    width: 30px;
    height: 3px;
    transform: translateY(30px);
  }
}
@media screen and (max-width: 600px) {
  .about h2 {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .about h2::before {
    width: 30px;
    height: 2px;
    transform: translateY(30px);
  }
}
.about h2 .icone {
  margin-left: 10px;
}
.about p {
  line-height: 26px;
  font-size: 1.1rem;
  padding-top: 25px;
  color: rgba(39, 40, 41, 0.933);
  text-align: justify;
}
.about p strong {
  color: #1F1E31;
}
@media screen and (max-width: 900px) {
  .about p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .about p {
    font-size: 0.8rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.about .btn {
  margin-top: 20px;
  padding: 30px;
  margin: 35px 0;
  border-radius: 50px;
  font-family: poppins, serif;
  text-transform: uppercase;
  font-size: 1rem;
  max-width: 100%;
  margin-left: 50vh;
  color: aliceblue;
  background-image: linear-gradient(#434343 0%, rgb(0, 0, 0) 100%);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.about .btn:hover {
  background: whitesmoke;
  color: #1F1E31;
}
.about h3 {
  font-size: 1.4rem;
  font-family: poppins, serif;
  margin-left: 25px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: rgba(31, 30, 49, 0.8470588235);
}
.about h3 i {
  margin-left: 10px;
}
@media screen and (max-width: 900px) {
  .about h3 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .about h3 {
    font-size: 1rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.about a {
  padding: 30px;
  margin: 35px 0;
  border-radius: 50px;
  font-family: poppins, serif;
  text-transform: uppercase;
  font-size: 1rem;
  max-width: 100%;
  margin-left: 50vh;
  color: aliceblue;
  background-image: linear-gradient(#434343 0%, rgb(0, 0, 0) 100%);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
}
.about a:hover {
  background: whitesmoke;
  color: #1F1E31;
}
.about i {
  margin: 0 10px;
}
.about .Bts {
  opacity: 1;
}
.about .slam-sisr {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 15px;
  gap: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.about .slam {
  opacity: 0;
  transform: translateX(-350px);
  transition: 1s ease-in;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.44);
}
.about .slam h3 {
  margin: 0 auto;
  text-align: center;
  color: rgba(31, 30, 49, 0.8470588235);
}
.about .slam p {
  font-size: 1rem;
  line-height: 25px;
}
@media screen and (max-width: 950px) {
  .about .slam p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .about .slam p {
    font-size: 0.8rem;
  }
}
.about .slam h4 {
  font-family: poppins, serif;
  margin: 10px;
  color: rgba(43, 56, 56, 0.879);
  font-size: 1.2rem;
}
.about .slam li {
  list-style: none;
  margin: 5px 0;
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}
.about .sisr {
  opacity: 0;
  transform: translateX(350px);
  transition: 1s ease-in;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.44);
}
.about .sisr h3 {
  margin: 0 auto;
  text-align: center;
  color: rgba(31, 30, 49, 0.8470588235);
}
.about .sisr p {
  font-size: 1rem;
  line-height: 25px;
}
@media screen and (max-width: 950px) {
  .about .sisr p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .about .sisr p {
    font-size: 0.8rem;
  }
}
.about .sisr h4 {
  font-family: poppins, serif;
  margin: 10px;
  color: rgba(43, 56, 56, 0.879);
  font-size: 1.2rem;
}
.about .sisr li {
  list-style: none;
  margin: 5px 0;
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}
.about .pro {
  opacity: 0;
  transform: translateX(1350px);
  transition: 1s ease-in;
}
@media screen and (max-width: 900px) {
  .about {
    margin-left: 0px;
    padding: 0px;
  }
  .about .slam-sisr {
    grid-template-columns: 100%;
    margin-left: 0px;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about .slam, .about .sisr, .about .pro {
    opacity: 1;
    transform: translateX(0);
  }
  .about .slam-sisr h3 {
    font-size: 1.2rem;
  }
  .about .slam-sisr p {
    font-size: 0.9rem;
  }
  .about .slam-sisr h4 {
    font-size: 1rem;
  }
  .about .slam-sisr li {
    font-size: 0.8rem;
  }
  .about .cv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .cv a {
    width: 50%;
    padding: 30px;
    margin: 35px 0;
    border-radius: 50px;
    font-family: poppins, serif;
    text-transform: uppercase;
    font-size: 1rem;
    max-width: 100%;
    margin-left: 50vh;
    color: aliceblue;
    background-image: linear-gradient(#434343 0%, rgb(0, 0, 0) 100%);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 auto;
  }
  .about .cv a:hover {
    background: whitesmoke;
    color: #1F1E31;
  }
}
@media screen and (max-width: 600px) {
  .about .slam-sisr {
    grid-template-columns: 100%;
    margin-left: 0px;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about .slam, .about .sisr, .about .pro {
    opacity: 1;
    transform: translateX(0);
  }
  .about .slam-sisr h3 {
    font-size: 1rem;
  }
  .about .slam-sisr p {
    font-size: 0.8rem;
  }
  .about .slam-sisr h4 {
    font-size: 0.9rem;
  }
  .about .cv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .cv a {
    width: 50%;
    padding: 30px;
    margin: 35px 0;
    border-radius: 50px;
    font-family: poppins, serif;
    text-transform: uppercase;
    font-size: 1rem;
    max-width: 100%;
    margin-left: 50vh;
    color: aliceblue;
    background-image: linear-gradient(#434343 0%, rgb(0, 0, 0) 100%);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 9px 18px;
    text-decoration: none;
    margin: 0 auto;
  }
  .about .cv a:hover {
    background: whitesmoke;
    color: #1F1E31;
  }
}

.bg-img {
  margin-left: 250px;
  padding: 10px;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background: url(../images/img/bg5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5f5f5;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.252);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../images/img/bg5.jpg);
  background-position: center;
}
.bg-img #bg-img {
  position: relative;
  padding: 50px 0;
  text-align: center;
  background-color: #f5f5f5; /* Adjust as needed */
  scroll-margin-top: 100px; /* Prevent overlap with fixed header */
}
.bg-img h1 {
  width: 100%;
  height: 100%;
  padding-top: 250px;
  padding-left: 25%;
  justify-content: center;
  font-size: 1.8rem;
  margin-top: 15px;
  font-family: poppins, serif;
  text-transform: uppercase;
  color: #1F1E31;
  margin-left: 10px;
  color: white;
}
.bg-img h1::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: rgb(127, 127, 157);
  transform: translateY(40px);
}
@media screen and (max-width: 900px) {
  .bg-img h1 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .bg-img h1::before {
    width: 30px;
    height: 3px;
    transform: translateY(30px);
  }
}
@media screen and (max-width: 600px) {
  .bg-img h1 {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .bg-img h1::before {
    width: 30px;
    height: 2px;
    transform: translateY(30px);
  }
}
@media screen and (max-width: 900px) {
  .bg-img h1 {
    font-size: 2rem;
    padding-top: 200px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
  }
}
.bg-img .typing-animation {
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(30, end) forwards, blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.bg-img img {
  width: 100px;
  height: 100px;
  position: absolute;
  filter: drop-shadow(0px 6px 3px rgba(255, 255, 0, 0.925));
  z-index: -1;
  animation: spaceship 30s infinite linear;
}
.bg-img span {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .bg-img span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
}
.bg-img span i {
  font-size: 2.5rem;
  color: #f5f5f5;
  margin-left: 40%;
  margin-top: 100px;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  padding: 10px;
}
.bg-img span i:hover {
  cursor: pointer;
  animation: spin 1s linear infinite;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
  background-color: #f5f5f5;
  color: #434343;
  border: 2px solid #434343;
}
@media screen and (max-width: 900px) {
  .bg-img {
    margin-left: 0px;
  }
}
@media screen and (max-width: 600px) {
  .bg-img {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
  }
  .bg-img h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 500px) {
  .bg-img {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
  }
  .bg-img h1 {
    font-size: 1.4rem;
  }
  .bg-img span i {
    font-size: 2rem;
    margin-left: 0px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 400px) {
  .bg-img {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
  }
  .bg-img h1 {
    font-size: 1.2rem;
  }
  .bg-img span i {
    font-size: 1.5rem;
    margin-left: 0px;
    margin-top: 50px;
  }
}

.parcours {
  margin-left: 250px;
  opacity: 0;
  transform: translateX(-350px);
  transition: 1s ease-in;
  margin-top: 40px;
}
.parcours h2 {
  font-size: 1.8rem;
  margin-top: 15px;
  font-family: poppins, serif;
  text-transform: uppercase;
  color: #1F1E31;
  margin-left: 10px;
}
.parcours h2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: rgb(127, 127, 157);
  transform: translateY(40px);
}
@media screen and (max-width: 900px) {
  .parcours h2 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .parcours h2::before {
    width: 30px;
    height: 3px;
    transform: translateY(30px);
  }
}
@media screen and (max-width: 600px) {
  .parcours h2 {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .parcours h2::before {
    width: 30px;
    height: 2px;
    transform: translateY(30px);
  }
}
.parcours h3 {
  font-size: 1.4rem;
  font-family: poppins, serif;
  margin-left: 25px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: rgba(31, 30, 49, 0.8470588235);
}
.parcours h3 i {
  margin-left: 10px;
}
@media screen and (max-width: 900px) {
  .parcours h3 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .parcours h3 {
    font-size: 1rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.parcours h4 {
  font-family: mont, serif;
  font-style: italic;
  padding-left: 40px;
  text-shadow: rgb(0, 0, 0);
}
.parcours ul {
  margin-top: 15px;
}
.parcours p {
  line-height: 26px;
  font-size: 1.1rem;
  padding-top: 25px;
  color: rgba(39, 40, 41, 0.933);
  text-align: justify;
}
.parcours p strong {
  color: #1F1E31;
}
@media screen and (max-width: 900px) {
  .parcours p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .parcours p {
    font-size: 0.8rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.parcours i {
  margin: 0 10px;
}
.parcours .btn {
  padding: 30px;
  margin: 35px 0;
  border-radius: 50px;
  font-family: poppins, serif;
  text-transform: uppercase;
  font-size: 1rem;
  max-width: 100%;
  margin-left: 50vh;
  color: aliceblue;
  background-image: linear-gradient(#434343 0%, rgb(0, 0, 0) 100%);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  font-size: 0.8rem;
}
.parcours .btn:hover {
  background: whitesmoke;
  color: #1F1E31;
}
@media screen and (max-width: 900px) {
  .parcours {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .parcours .stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parcours .stage a {
    width: 50%;
    padding: 30px;
    margin: 35px 0;
    border-radius: 50px;
    font-family: poppins, serif;
    text-transform: uppercase;
    font-size: 1rem;
    max-width: 100%;
    margin-left: 50vh;
    color: aliceblue;
    background-image: linear-gradient(#434343 0%, rgb(0, 0, 0) 100%);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 auto;
  }
  .parcours .stage a:hover {
    background: whitesmoke;
    color: #1F1E31;
  }
}
@media screen and (max-width: 600px) {
  .parcours {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .parcours .stage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .parcours .stage a {
    width: 50%;
    padding: 30px;
    margin: 35px 0;
    border-radius: 50px;
    font-family: poppins, serif;
    text-transform: uppercase;
    font-size: 1rem;
    max-width: 100%;
    margin-left: 50vh;
    color: aliceblue;
    background-image: linear-gradient(#434343 0%, rgb(0, 0, 0) 100%);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 auto;
  }
  .parcours .stage a:hover {
    background: whitesmoke;
    color: #1F1E31;
  }
}

.projs {
  margin-left: 250px;
  position: relative;
}
.projs h2 {
  font-size: 1.8rem;
  margin-top: 15px;
  font-family: poppins, serif;
  text-transform: uppercase;
  color: #1F1E31;
  margin-left: 10px;
  color: #1F1E31;
}
.projs h2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: rgb(127, 127, 157);
  transform: translateY(40px);
}
@media screen and (max-width: 900px) {
  .projs h2 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .projs h2::before {
    width: 30px;
    height: 3px;
    transform: translateY(30px);
  }
}
@media screen and (max-width: 600px) {
  .projs h2 {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .projs h2::before {
    width: 30px;
    height: 2px;
    transform: translateY(30px);
  }
}
.projs p {
  line-height: 26px;
  font-size: 1.1rem;
  padding-top: 25px;
  color: rgba(39, 40, 41, 0.933);
  text-align: justify;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
}
.projs p strong {
  color: #1F1E31;
}
@media screen and (max-width: 900px) {
  .projs p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .projs p {
    font-size: 0.8rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.projs .projects {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.projs .projects .projet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 300px;
  height: 400px;
  background: linear-gradient(to bottom, #c1d1d4, #ffffff);
  opacity: 0;
  transform: translateY(-150px);
  transition: 1s ease-in;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
  transition: transform 0.3s ease-in-out;
}
.projs .projects .projet:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.projs .projects .projet:hover p {
  opacity: 1;
}
.projs .projects .projet img {
  width: 100%;
  height: 200px;
}
.projs .projects p {
  line-height: 26px;
  font-size: 1.1rem;
  padding-top: 25px;
  color: rgba(39, 40, 41, 0.933);
  text-align: justify;
  font-size: 0.9rem;
  opacity: 1;
}
.projs .projects p strong {
  color: #1F1E31;
}
@media screen and (max-width: 900px) {
  .projs .projects p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .projs .projects p {
    font-size: 0.8rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.projs .projects .add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.projs .projects .add span {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border-radius: 5px;
  color: #1F1E31;
  font-family: poppins, serif;
  background: linear-gradient(to bottom, #c1d1d4, #ffffff);
  color: black;
}
.projs .projects a {
  padding: 30px;
  margin: 35px 0;
  border-radius: 50px;
  font-family: poppins, serif;
  text-transform: uppercase;
  font-size: 1rem;
  max-width: 100%;
  margin-left: 50vh;
  color: aliceblue;
  background-image: linear-gradient(#434343 0%, rgb(0, 0, 0) 100%);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px;
  font-size: 0.8rem;
}
.projs .projects a:hover {
  background: whitesmoke;
  color: #1F1E31;
}
.projs .projects .projet h3 {
  font-size: 1.4rem;
  font-family: poppins, serif;
  margin-left: 25px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: rgba(31, 30, 49, 0.8470588235);
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 1rem;
}
.projs .projects .projet h3 i {
  margin-left: 10px;
}
@media screen and (max-width: 900px) {
  .projs .projects .projet h3 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .projs .projects .projet h3 {
    font-size: 1rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 900px) {
  .projs {
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .projs .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projs .projet {
    width: 90%;
    height: auto;
    margin: 20px auto;
  }
  .projs .projet img {
    height: 200px;
  }
  .projs .projet h3 {
    font-size: 1.2rem;
  }
}

.skills {
  margin-left: 250px;
  position: relative;
  margin-top: 20px;
}
@media screen and (max-width: 900px) {
  .skills {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.skills h2 {
  font-size: 1.8rem;
  margin-top: 15px;
  font-family: poppins, serif;
  text-transform: uppercase;
  color: #1F1E31;
  margin-left: 10px;
  color: #1F1E31;
  margin-top: 10px;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 2rem;
}
.skills h2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: rgb(127, 127, 157);
  transform: translateY(40px);
}
@media screen and (max-width: 900px) {
  .skills h2 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .skills h2::before {
    width: 30px;
    height: 3px;
    transform: translateY(30px);
  }
}
@media screen and (max-width: 600px) {
  .skills h2 {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .skills h2::before {
    width: 30px;
    height: 2px;
    transform: translateY(30px);
  }
}
.skills p {
  line-height: 26px;
  font-size: 1.1rem;
  padding-top: 25px;
  color: rgba(39, 40, 41, 0.933);
  text-align: justify;
  font-size: 1.2rem;
}
.skills p strong {
  color: #1F1E31;
}
@media screen and (max-width: 900px) {
  .skills p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .skills p {
    font-size: 0.8rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.skills .dev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 10px;
}
@media screen and (max-width: 1200px) {
  .skills .dev {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }
}
.skills .skill {
  display: grid;
  grid-template-rows: 20% 60% 20%;
  align-items: center;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
  transition: transform 0.3s ease-in-out;
}
.skills .skill:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.skills .skill:hover .progress {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.skills .skill .skill-img {
  width: 100%;
  height: 100%;
}
.skills .skill .skill-img img {
  width: 70%;
  height: 80%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .skills .skill {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .skills .skill {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 550px) {
  .skills .skill {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 450px) {
  .skills .skill {
    width: 80px;
    height: 80px;
  }
}
.skills .skill h3 {
  font-family: poppins, serif;
  text-align: center;
  margin-top: 5px;
  margin-left: 0px;
  font-size: 1.2rem;
  color: #1F1E31;
}
@media screen and (max-width: 950px) {
  .skills .skill h3 {
    font-size: 0.9rem;
  }
}
.skills .skill p {
  line-height: 26px;
  font-size: 1.1rem;
  padding-top: 25px;
  color: rgba(39, 40, 41, 0.933);
  text-align: justify;
  line-height: normal;
  font-size: 0.7rem;
  text-align: center;
  opacity: 0;
}
.skills .skill p strong {
  color: #1F1E31;
}
@media screen and (max-width: 900px) {
  .skills .skill p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .skills .skill p {
    font-size: 0.8rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.skills .progress {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 28px;
  background-color: none;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
  overflow: hidden;
  opacity: 0;
}
@media screen and (max-width: 950px) {
  .skills .progress {
    height: 20px;
  }
}
@media screen and (max-width: 600px) {
  .skills .progress {
    height: 15px;
  }
}
@media screen and (max-width: 550px) {
  .skills .progress {
    height: 10px;
  }
}
@media screen and (max-width: 450px) {
  .skills .progress {
    height: 8px;
  }
}
.skills .progress-bar {
  background-color: rgba(31, 30, 49, 0.8470588235);
}
.skills .tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  .skills .tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }
}
.skills .tool {
  display: grid;
  grid-template-rows: 20% 60% 20%;
  align-items: center;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
  transition: transform 0.3s ease-in-out;
}
.skills .tool:hover {
  transform: scale(1.05);
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .skills .tool {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .skills .tool {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 550px) {
  .skills .tool {
    width: 100px;
    height: 100px;
  }
}
.skills .tool img {
  width: 70%;
  height: 70%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .skills .tool img {
    width: 60%;
    height: 60%;
  }
}
.skills .tool h3 {
  font-family: poppins, serif;
  text-align: center;
  margin-top: 5px;
  margin-left: 0px;
  font-size: 1.2rem;
  color: #1F1E31;
}
@media screen and (max-width: 950px) {
  .skills .tool h3 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .skills .tool h3 {
    font-size: 0.8rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.skills .tool p {
  line-height: 26px;
  font-size: 1.1rem;
  padding-top: 25px;
  color: rgba(39, 40, 41, 0.933);
  text-align: justify;
  line-height: normal;
  font-size: 0.7rem;
  text-align: center;
  opacity: 0;
}
.skills .tool p strong {
  color: #1F1E31;
}
@media screen and (max-width: 900px) {
  .skills .tool p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .skills .tool p {
    font-size: 0.8rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.contact {
  margin-left: 250px;
  margin-top: 50px;
  background: linear-gradient(to bottom, #c1d1d4, #ffffff);
}
.contact h2 {
  font-size: 1.8rem;
  margin-top: 15px;
  font-family: poppins, serif;
  text-transform: uppercase;
  color: #1F1E31;
  margin-left: 10px;
  color: #1F1E31;
  margin-top: 10px;
  margin-bottom: 35px;
}
.contact h2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: rgb(127, 127, 157);
  transform: translateY(40px);
}
@media screen and (max-width: 900px) {
  .contact h2 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contact h2::before {
    width: 30px;
    height: 3px;
    transform: translateY(30px);
  }
}
@media screen and (max-width: 600px) {
  .contact h2 {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .contact h2::before {
    width: 30px;
    height: 2px;
    transform: translateY(30px);
  }
}
.contact p {
  line-height: 26px;
  font-size: 1.1rem;
  padding-top: 25px;
  color: rgba(39, 40, 41, 0.933);
  text-align: justify;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.contact p strong {
  color: #1F1E31;
}
@media screen and (max-width: 900px) {
  .contact p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .contact p {
    font-size: 0.8rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.contact .infos-form {
  display: grid;
  grid-template-columns: 45% 55%;
  gap: 20px;
}
.contact .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-right: 1px solid #1F1E31;
}
.contact .infos ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
  font-family: poppins, serif;
}
.contact .infos ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-family: poppins, serif;
}
.contact .infos ul li i {
  font-size: 1.5rem;
  color: #1F1E31;
}
.contact .infos ul li a {
  text-decoration: none;
  color: #1F1E31;
  font-family: poppins, serif;
  font-size: 1.2rem;
}
.contact .infos ul li a:hover {
  color: #1F1E31;
  text-decoration: underline;
}
.contact .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  font-family: poppins, serif;
}
.contact #map {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
  background: linear-gradient(to bottom, #c1d1d4, #ffffff);
}
.contact .form form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
  background: linear-gradient(to bottom, #c1d1d4, #ffffff);
}
.contact .form form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1F1E31;
  font-size: 1.2rem;
  font-family: poppins, serif;
  color: #1F1E31;
}
.contact .form form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1F1E31;
  font-size: 1.2rem;
  font-family: poppins, serif;
  color: #1F1E31;
  resize: none;
}
.contact .form form button {
  padding: 30px;
  margin: 35px 0;
  border-radius: 50px;
  font-family: poppins, serif;
  text-transform: uppercase;
  font-size: 1rem;
  max-width: 100%;
  margin-left: 50vh;
  color: aliceblue;
  background-image: linear-gradient(#434343 0%, rgb(0, 0, 0) 100%);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.2rem;
  font-family: poppins, serif;
  color: #1F1E31;
  margin-left: 0px;
  padding: 5px;
  color: #ffffff;
}
.contact .form form button:hover {
  background: whitesmoke;
  color: #1F1E31;
}
@media screen and (max-width: 900px) {
  .contact {
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact .infos-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact .infos {
    border-right: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact .form {
    flex-direction: column;
    align-items: center;
  }
  .contact #map {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .contact #map {
    height: 300px;
  }
  .contact h2 {
    font-size: 1.4rem;
  }
  .contact p {
    font-size: 1rem;
  }
  .contact .infos ul li {
    font-size: 1rem;
  }
  .contact .infos ul li i {
    font-size: 1.2rem;
  }
  .contact .infos ul li a {
    font-size: 1rem;
  }
  .contact .form form input {
    font-size: 1rem;
  }
  .contact .form form textarea {
    font-size: 1rem;
  }
  .contact .form form button {
    font-size: 1rem;
  }
  .contact .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    margin-bottom: 10px;
  }
}

.veilles {
  margin-left: 250px;
  background: linear-gradient(to bottom, #c1d1d4, #ffffff);
}
.veilles h2 {
  font-size: 1.8rem;
  margin-top: 15px;
  font-family: poppins, serif;
  text-transform: uppercase;
  color: #1F1E31;
  margin-left: 10px;
  color: #1F1E31;
  margin-top: 30px;
  margin-bottom: 35px;
}
.veilles h2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: rgb(127, 127, 157);
  transform: translateY(40px);
}
@media screen and (max-width: 900px) {
  .veilles h2 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .veilles h2::before {
    width: 30px;
    height: 3px;
    transform: translateY(30px);
  }
}
@media screen and (max-width: 600px) {
  .veilles h2 {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .veilles h2::before {
    width: 30px;
    height: 2px;
    transform: translateY(30px);
  }
}
.veilles h3 {
  font-size: 1.4rem;
  font-family: poppins, serif;
  margin-left: 25px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: rgba(31, 30, 49, 0.8470588235);
  color: #1F1E31;
  margin-top: 10px;
}
.veilles h3 i {
  margin-left: 10px;
}
@media screen and (max-width: 900px) {
  .veilles h3 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .veilles h3 {
    font-size: 1rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.veilles p {
  line-height: 26px;
  font-size: 1.1rem;
  padding-top: 25px;
  color: rgba(39, 40, 41, 0.933);
  text-align: justify;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.veilles p strong {
  color: #1F1E31;
}
@media screen and (max-width: 900px) {
  .veilles p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .veilles p {
    font-size: 0.8rem;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 900px) {
  .veilles {
    margin-left: 0px;
  }
  .veilles li {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .veilles p {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=index.css.map */